<configuration debug="false">
	<!--contextName></contextName -->

	<property scope="context" name="nodeId" value="content-negotiation" />
	<property name="LOG_HOME" value="./log" />

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- console output -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-3level %logger{26} %marker %msg%n</pattern>
		</encoder>
	</appender>

	<!-- File Output -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd-HH}.log
			</fileNamePattern>
			<maxHistory>168</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-3level %logger{26} %marker %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<!-- discardingThreshold >0</discardingThreshold> -->
		<queueSize>51200</queueSize>
		<appender-ref ref="FILE" />
	</appender>

	<logger name="java.sql" level="INFO" />
	<logger name="org.eclipse.jetty" level="INFO" />
	<logger name="org.apache.http" level="INFO" />
	<logger name="io.netty" level="INFO" />
	<logger name="org.springframework" level="INFO" />
    <logger name="org.apache.tomcat.jdbc" level="INFO" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
        <appender-ref ref="ASYNC" />
	</root>
	
</configuration>
